/* 
Theme Name: CampusPress Flex Child 
Theme URL: http://yourdomain.com
Description: CampusPress Flex Child 
Theme Author: Adeel Malik
Author URL: http://yourdomain.com
Template: campuspress-flex-master 
Version: 1.0.0 
Text Domain: campuspress-flex-child 
*/
div#itemsContainer {
    width: fit-content;
}

.left {
    width: 25%;
    display: block;
    float: left;
    clear: both;
    height: 300px;
    transition:all 1s ease;
}
.right {
    width: 25%;
    display: block;
    float: left;
    clear: right;
    height: 300px;
    transition:all 1s ease;
}
p.left{
    display: block;
    float: left;
    overflow-y: hidden;
}
p.right{
    display: block;
    float: left;
    overflow-y: hidden;
}

span#title {
    float: left;
    font-weight: bold !important;
    font-size: 28px;
    margin-bottom: -10px;
    margin-top: 3px;
    padding-right: 10px;
}

div#description {
    float: left;
}

a.linkbutton {
    background-color: black;
    padding: 7px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 33px;
    width: 111px;
    padding-left: 18px;
    font-size: 12px;
    padding-right: 40px;
}

a.linkbutton:hover {
    text-decoration: underline;
}

img.left:target{
    width: 75%;
    display: block;
    /* float: left; */
    /* clear: both; */
    height: 300px;
}
img.right:target{
    width: 75%;
    display: block;
    /* float: left; */
    /* clear: both; */
    height: 300px;
    transition:all 1s ease;
}

div#right {
    width: 800px;
    display: block;
    float: left;
    clear: right;
    transition:all 1s ease-out;
}

div#left {
    width: 800px;
    float: left;
    display: block;
    clear: right;
    transition:all 1s ease-out;
}

div#right:target:parent{
    left:-800px;
}

div#left:target:parent{
    left:0px;
}
div#contentContainer {
    width: 1700px;
    float: left;
    position: relative;
    left:-800px;
}

div#contentContainerShell {
    width: 800px;
    display: block;     
    overflow: hidden;
    margin-bottom: 19px;
}