/* 
Theme Name: CampusPress Flex Child 
Theme URL: http://yourdomain.com
Description: CampusPress Flex Child 
Theme Author: Adeel Malik
Author URL: http://yourdomain.com
Template: campuspress-flex-master 
Version: 1.0.0 
Text Domain: campuspress-flex-child 
*/
div#itemsContainer {
    width: fit-content;
}


span#title {
    float: left;
    font-weight: bold !important;
    font-size: 28px;
    margin-bottom: -10px;
    margin-top: -11px;
    padding-right: 10px;
}

div#description {
    float: left;
}

a.linkbutton {
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 33px;
    width: 111px;
    padding-left: 18px;
}

a.linkbutton:hover {
    text-decoration: underline;
}